/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
/.trae
**/.preview
**/cache
**/intermediates
**/generated
**/outputs
**/logs
*.hprof
*.log
local.properties
.DS_Store
